.share-tech mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
    font-weight: 600;
}

:root {
    /* Color Variables */
    --background: #05020D;
    --primary: #2F2A3D;
    --secondary: #39263A;
    --tertiary: #525638;
    --accent: #635A7C;
    --hightlight: #B4AC7D;
    --text: #DEC9E0;
    --hover-text: #595439;

    /* Text Animation Variables */
    --typingSpeed: 3s;
    --messageCharacters: 34;
}

/* Keyframes */
@keyframes writeMessage {
    to {
        left: 100%
    }
}

@-webkit-keyframes writeMessage {
    to {
        left: 100%
    }
}

@keyframes caretBlink {
    to {
        background: transparent;
    }
}

@-webkit-keyframes caretBlink {
    to {
        background: transparent;
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

.gameContainer {
    padding: 10px;
    width: 900px;
    max-width: 80%;
    background-color: var(--primary);
    border-radius: 5px;
    box-shadow: 0 0 15px 10px var(--accent);
}

.messageContainer {
    margin: 20px auto;
    padding: 5px;
    width: 800px;
    max-width: 90%;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 3px;
}

#message {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 20px auto;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 3px;
}

#message::before,
#message::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#message::before {
    background: var(--secondary);
    --webkit-animation: writeMessage var(--typingSpeed) steps(var(--messageCharacters)) 1s forwards;
    animation: writeMessage var(--typingSpeed) steps(var(--messageCharacters)) 1s forwards;
}

#message::after {
    width: 0.125em;
    background: var(--accent);
    -webkit-animation: writeMessage var(--typingSpeed) steps(var(--messageCharacters)) 1s forwards, caretBlink 750ms steps(var(--messageCharacters)) infinite;
    animation: writeMessage var(--typingSpeed) steps(var(--messageCharacters)) 1s forwards, caretBlink 750ms steps(var(--messageCharacters)) infinite;
}

#choices ul {
    margin: 0 auto;
    justify-content: center;
    width: 800px;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

#choicesMenu li,
.option {
    margin: 20px auto;
    padding: 10px;
    width: 800px;
    max-width: 80%;
    display: inline-flex;
    justify-self: center;
    background-color: var(--tertiary);
    color: var(--text);
    border-radius: 3px;
}

#choicesMenu li:hover,
.option {
    background-color: var(--hightlight);
    color: var(--hover-text);
    font-style: italic;
}